<ion-header>
  <ion-toolbar>
    <ion-title>Registrar Produto</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="full">
      <ion-label>Nome: </ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label>Descrição: </ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label>Validade: </ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label>Preço: </ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block">Salvar</ion-button>

</ion-content>
