<ion-header>
  <ion-toolbar>
    <ion-title>Entrar</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/registro">
        <ion-icon slot="icon-only" name="person-add-outline"> </ion-icon>
      </ion-button>
      <ion-button routerLink="/rgprod">
        <ion-icon slot="icon-only" name="bag-add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-list>
      <ion-item>
        <ion-label>Email: </ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Senha: </ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
      <ion-item>
        <ion-button expand="block">Entrar</ion-button>
      </ion-item>

      <ion-item>
        <ion-button expand="block" routerLink="/registro">Registrar</ion-button>
      </ion-item>

      <ion-item>
        <ion-button expand="block">Esqueci a senha</ion-button>
      </ion-item>
  </ion-card>

  <ion-card>
    <ion-button expand="full" routerLink="/rgprod"> Registrar Produto </ion-button>
  </ion-card>

</ion-content>
