<ion-header>
  <ion-toolbar>
    <ion-title>Registrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="full">
      <ion-label>Nome:</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label>CPF:</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label>Email:</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label>Senha:</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Confirma senha:</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-button expand="block">Salvar</ion-button>
  </ion-item>
  <ion-item>
    <ion-button expand="block">Voltar</ion-button>
  </ion-item>

</ion-content>
